<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editblog</title>
</head>
<body>
    <div class="dropdown-menu">
        <form action="/updateBlog/<%=data.id %>" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="title" value="<%=data.title %>">
            </div>
            <div class="form-group">
                <textarea name="description" cols="30" rows="5" ><%=data.description %>"</textarea>
            </div>
            <button type="submit"><span class="material-icons">send</span></button>
        </form>
    </div>
    
</body>
</html>